body, ul {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

img {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.container {
    display: flex;
    background-color: #1d8dce;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    gap: 10px;
}

.hamburger-menu a {
    text-decoration: none;
    color: #0e77d9;
    padding: 10px 15px;
    display: block;
    text-align: center;
    transition: background 0.3s ease;
}

.hamburger-menu a:hover {
    background: #d7e1f5;
}

.hidden {
    display: none;
}

nav ul {
    list-style-type: none;
    background-color: lightgray;
    padding: 10px;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease;
}

.card {
    text-decoration: none;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
}

.card h3 {
    background-color: #1d8dce;
    color: white;
    padding: 10px 20px;
    margin: 0;
}

.card ul {
    list-style-type: decimal;
    padding-left: 20px;
}

.card li a {
    color: #00070b;
    background-color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

@media (min-width: 600px) {
    #nav-menu {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
}

@media (min-width: 601px) {
    #nav-menu {
        display: block;
    }
    #hamburger-icon {
        display: none;
    }
}

footer {
    background-color: #1d8dce;
    color: white;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
}
